.booking-map {
  width: 100%;
}

.booking-map .map {
  width: 100%;
  height: 336px;
}

.booking-map .map__container {
  width: 100%;
  height: 100%;
}

.map-marker {
  width: 32px;
  height: 40px;
  background-image: url('/img/svg/pin-default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map-marker--active {
  background-image: url('/img/svg/pin-active.svg');
}

.booking-map .leaflet-control-zoom {
  border: none;
  box-shadow: none;
}

.booking-map .leaflet-control-zoom a {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  color: #1f1d1d;
  line-height: 40px;
  font-size: 24px;
}

.booking-map .leaflet-control-zoom a:first-child {
  margin-bottom: 8px;
}
